.DS_Store

# Gradle
gradle-app.setting
.gradle/
build/

# Android Studio
*.iml
local.properties
/.idea/.name
/.idea/tasks.xml
/.idea/workspace.xml
/.idea/libraries/
/.idea/dictionaries/
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/caches/