<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ageet.filelogprovider.demo">

    <application
        android:name=".DemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.ageet.filelogprovider.FileLogProvider"
            android:authorities="${applicationId}.provider.file_log">
            <meta-data android:name="initialPriority" android:value="2" />
            <meta-data android:name="maxLogFileSizeInMb" android:value="0.3" />
            <meta-data android:name="maxLogFileBackup" android:value="6" />
            <meta-data android:name="logFileDir" android:value="logs" />
            <meta-data android:name="logFileBaseName" android:value="log" />
            <meta-data android:name="logFileExt" android:value="txt" />
            <meta-data android:name="logFormatter" android:value="${applicationId}.CustomLogFormatter" />
        </provider>
    </application>

</manifest>