<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <provider android:name="com.ageet.filelogprovider.FileLogProvider"
            android:authorities="${applicationId}.provider.file_log"
            android:directBootAware="true"
            tools:targetApi="n"
            tools:node="merge"
            tools:ignore="ExportedContentProvider" />
    </application>
</manifest>
